/* ===== INTRO SCREENS (Screens 2 & 3) ===== */
.intro-screen {
    border-radius: 40px 37px 38px 39px;
    background: url('/images/bg.png') center/cover no-repeat;
}

.logo-circle-top img {
    width: 60%;
   
  
}

.intro-text p {
    color: white;
    font-size: 14px;
    line-height: 1.6;
    padding: 0 20px;
}

.intro-buttons {
    display: flex;
    gap: 10px;
    width: 80%;
}
